body {
    color:#800000;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb#90ee90 (18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 maroon(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
   padding: 2rem 2.5rem;
   color: white;
}
.choice-text {
    padding: 2rem;
    width: 100%;
}

/*heads up Display */
#scr {
    display:flex;
    justify-content: space-between;
}

.scr-prefix {
    text-align:center;
    font-size: 2rem;
}

.scr-main-text {
    text-align: center;
}

#scoreBar {
    width: 20rem;
    height:3rem;
    border: 0.2rem solid rgb(black);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#scoreBarFull {
    height: 100%;
    background: rgb(black);
    width: 0%;
}

@media screen and (max-width: 768 px)  {
.choice-container{
    min-width: 40rem;
}
}